.holder{
	display:grid;
	width: 200px;
	grid-template-columns: 100px 100px;
	grid-template-rows: 100px 100px;
	grid-template-areas: repeat(1fr,1fr);
	border: 1px solid aqua;
}
.item.item-1{
	background-color:red;
}
.item.item-2{
	background-color:blue;
}
.item.item-3{
	background-color:yellow;
}
.item.item-4{
	background-color:green;
}
